API_URL=

DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_URL=

NODE_ENV=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_PRIVATE_KEY=
NEXT_PUBLIC_FIREBASE_CLIENT_EMAIL=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY_ID=
AWS_S3_API_VERSION=
AWS_S3_PRIVATE_BUCKET_NAME=
